<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.project.exhibit.admin.AdminMapper">
	<resultMap type="com.project.exhibit.admin.Admin" id="Admin">
		<result property="num"				column="num" />
		<result property="admin_id"			column="admin_id" />
		<result property="admin_pw"			column="admin_pw" />
		<result property="add_item1"		column="add_item1" />
		<result property="add_item2"		column="add_item2" />
		<result property="add_item3"		column="add_item3" />
		<result property="add_item4"		column="add_item4" />
		<result property="add_item5"		column="add_item5" />
	</resultMap>
	
	<!-- 로그인으로 사용하기 위한 SELECT문 -->
    <select id="selectAdminCheck" resultMap="Admin" parameterType="String">
        SELECT 	*
        FROM  	EXHIBIT_ADMIN
        WHERE 	admin_id = #{admin_id}
    </select>
</mapper>