<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.project.exhibit.mediaMemorialHall.MediaMemorialHallMapper">
	<resultMap type="com.project.exhibit.mediaMemorialHall.MediaMemorialHall" id="MediaMH">
		<result property="artcl_Seq"       	column="artcl_Seq"/>
		<result property="title"       		column="title"/>
		<result property="content"       	column="content"/>
		<result property="writer"       	column="writer"/>
		<result property="reg_date"       	column="reg_date"/>
		<result property="edit_date"       	column="edit_date"/>
		<result property="hit"       		column="hit"/>
		<result property="img_Origin_Nm"    column="img_Origin_Nm"/>
		<result property="img_File_Nm"      column="img_File_Nm"/>
		<result property="img_Path"       	column="img_Path"/>
	</resultMap>
	
	<!-- 언론에 비친 기념관 등록 -->
	<insert id="insertMediaMemorialHall" parameterType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall"
			useGeneratedKeys="true" keyProperty="artcl_Seq">
		INSERT INTO exhibit_media_memorial_hall_artcl (
        	title, content, writer, reg_date, edit_date, hit, img_Origin_Nm, img_File_Nm, img_Path
        ) VALUES (#{title}, #{content}, #{writer}, now(), now(), 0,
       		<choose>
       			<when test="img_Origin_Nm == null or img_Origin_Nm == ''">
       				null, null, null
       			</when>
       			<otherwise>
       				#{img_Origin_Nm}, #{img_File_Nm}, #{img_Path}
       			</otherwise>
       		</choose>
       		
        )
	</insert>
	
	<!-- 언론에 비친 기념관 수정 -->
	<update id="updateMediaMemorialHall" parameterType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall">
		UPDATE exhibit_media_memorial_hall_artcl 
		SET title = #{title},
			content = #{content},
			edit_date = #{edit_date},
			img_Origin_Nm = #{img_Origin_Nm},
			img_File_Nm = #{img_File_Nm},
			img_Path = #{img_Path}
		WHERE artcl_Seq = #{artcl_Seq}
	</update>		
	
	<!-- 언론에 비친 기념관 삭제 -->
	<delete id="deleteMediaMemorialHall" parameterType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall">
		
	</delete>
	
	<!-- 언론에 비친 기념관 리스트 출력 -->
	<select id="selectMediaMemorialHall" parameterType="com.project.exhibit.util.SearchPageVO" resultType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall" >
		select * from (select @ROWNUM := @ROWNUM + 1 AS ROWNUM, m.* from (select * from exhibit_media_Memorial_Hall_artcl
		<if test="searchType != null">
	      <where>
	         <choose>
	         	<when test="searchType == 3"> writer like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 2"> content like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 1"> title like CONCAT('%',#{searchValue},'%')</when>
	         </choose>
	      </where>
	   	</if>
		order by artcl_Seq desc ) AS m) AS T		
	</select>
	
	<!-- 언론에 비친 기념관 리스트 카운트 출력 -->
	<select id="selectMediaMemorialHallCount" parameterType="com.project.exhibit.util.SearchPageVO" resultType="int" >
		select count(*) from (select @ROWNUM := @ROWNUM + 1 AS ROWNUM, m.* from (select * from exhibit_media_Memorial_Hall_artcl
		<if test="searchType != null">
	      <where>
	         <choose>
	         	<when test="searchType == 3"> writer like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 2"> content like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 1"> title like CONCAT('%',#{searchValue},'%')</when>
	         </choose>
	      </where>
   		</if>
		order by artcl_Seq desc ) AS m) AS T		
	</select>
	
	<!-- 언론에 비친 기념관 상세글 출력 -->
	<select id="selectMediaMemorialHallView" parameterType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall" resultType="com.project.exhibit.mediaMemorialHall.MediaMemorialHall">
		SELECT * 
		FROM   exhibit_media_Memorial_Hall_artcl 
		WHERE  artcl_Seq = #{artcl_Seq}
	</select>
</mapper>