<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
   PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.project.exhibit.sayeon.SayeonMapper">
   <resultMap type="com.project.exhibit.sayeon.Sayeon" id="Sayeon">
   		<result property="artcl_Seq"       	column="artcl_Seq"/>
		<result property="title"       		column="title"/>
		<result property="content"       	column="content"/>
		<result property="writer"       	column="writer"/>
		<result property="phone"       		column="phone"/>
		<result property="reg_date"       	column="reg_date"/>
		<result property="edit_date"       	column="edit_date"/>
		<result property="hit"       		column="hit"/>
		<result property="img_Origin_Nm"    column="img_Origin_Nm"/>
		<result property="img_File_Nm"      column="img_File_Nm"/>
		<result property="img_Path"       	column="img_Path"/>
   </resultMap>
   <resultMap type="com.project.exhibit.sayeon.SayeonAtchmnfl" id="SayeonAtchmnfl">
   		<result property="atchmnfl_Seq"     column="atchmnfl_Seq"/>
   		<result property="artcl_Seq"       	column="artcl_Seq"/>
		<result property="writer"       	column="writer"/>
		<result property="reg_date"       	column="reg_date"/>
		<result property="edit_date"       	column="edit_date"/>
		<result property="doc_Origin_Nm"    column="doc_Origin_Nm"/>
		<result property="doc_File_Nm"      column="doc_File_Nm"/>
		<result property="doc_Path"       	column="doc_Path"/>
   </resultMap>
   
   <!-- 사연남기기 등록 -->
   	<insert id="insertSayeon" parameterType="com.project.exhibit.sayeon.Sayeon"
   			useGeneratedKeys="true" keyProperty="artcl_Seq">
        INSERT INTO exhibit_sayeon_artcl (
        	title, content, writer, phone, reg_date, edit_date, hit, img_Origin_Nm, img_File_Nm, img_Path
        ) VALUES (#{title}, #{content}, #{writer}, #{phone}, now(), now(), 0,
       		<choose>
       			<when test="img_Origin_Nm == null or img_Origin_Nm == ''">
       				null, null, null
       			</when>
       			<otherwise>
       				#{img_Origin_Nm}, #{img_File_Nm}, #{img_Path}
       			</otherwise>
       		</choose>
        )
   	</insert>
   	
   	<!--사연남기기 수정 -->
   	<update id="updateSayeon" parameterType="com.project.exhibit.sayeon.Sayeon">
		UPDATE exhibit_sayeon_artcl 
		SET title = #{title},
			content = #{content},
			writer = #{writer},
			phone = #{phone},
			edit_date = #{edit_date},
			img_Origin_Nm = #{img_Origin_Nm},
			img_File_Nm = #{img_File_Nm},
			img_Path = #{img_Path}
		WHERE artcl_Seq = #{artcl_Seq}
	</update>	
   	
   	<!-- 사연남기기 삭제 -->
	<delete id="deleteSayeon" parameterType="com.project.exhibit.sayeon.Sayeon">
		DELETE FROM exhibit_sayeon_artcl WHERE artcl_Seq = #{artcl_Seq}
	</delete>
   	
   	<!-- 사연남기기 리스트 출력 -->
	<select id="selectSayeon" parameterType="com.project.exhibit.util.SearchPageVO" resultType="com.project.exhibit.sayeon.Sayeon" >
		select * from (select @ROWNUM := @ROWNUM + 1 AS ROWNUM, m.* from (select * from exhibit_sayeon_artcl
		<if test="searchType != null">
	      <where>
	         <choose>
	         	<when test="searchType == 3"> writer like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 2"> content like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 1"> title like CONCAT('%',#{searchValue},'%')</when>
	         </choose>
	      </where>
	   	</if>
		order by artcl_Seq desc ) AS m 
		<where>
			(@ROWNUM:=0)=0)
		</where>
		AS T 
		<where>
			ROWNUM between #{start} and #{end}	
		</where>
	</select>
	
	<!-- 사연남기기 리스트 카운트 출력 -->
	<select id="selectSayeonCount" parameterType="com.project.exhibit.util.SearchPageVO" resultType="int" >
		select count(*) from (select @ROWNUM := @ROWNUM + 1 AS ROWNUM, m.* from (select * from exhibit_sayeon_artcl
		<if test="searchType != null">
	      <where>
	         <choose>
	         	<when test="searchType == 3"> writer like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 2"> content like CONCAT('%',#{searchValue},'%')</when>
	            <when test="searchType == 1"> title like CONCAT('%',#{searchValue},'%')</when>
	         </choose>
	      </where>
   		</if>
		order by artcl_Seq desc ) AS m) AS T		
	</select>
	
	<!-- 사연남기기 상세글 출력 -->
	<select id="selectSayeonView" parameterType="com.project.exhibit.sayeon.Sayeon" resultType="com.project.exhibit.sayeon.Sayeon">
		SELECT * 
		FROM   exhibit_sayeon_artcl 
		WHERE  artcl_Seq = #{artcl_Seq}
	</select>
	
	<!-- 사연남기기 상세글 출력시 이전 글 가져오기 -->
	<select id="select_Preview" parameterType="int" resultType="com.project.exhibit.sayeon.Sayeon">
		SELECT artcl_Seq, title
		FROM   exhibit_sayeon_artcl
		<where>
			artcl_Seq=( SELECT max(artcl_Seq)
						FROM   exhibit_sayeon_artcl
						<where>
							artcl_Seq &lt; #{artcl_Seq}
						</where>
		</where>
		)
	</select>
	
	<!-- 사연남기기 상세글 출력시 다음 글 가져오기 -->
	<select id="select_Nextview" parameterType="int" resultType="com.project.exhibit.sayeon.Sayeon">
		SELECT artcl_Seq, title
		FROM   exhibit_sayeon_artcl
		<where>
			artcl_Seq=( SELECT min(artcl_Seq)
						FROM   exhibit_sayeon_artcl
						<where>
							artcl_Seq &gt; #{artcl_Seq}
						</where>
		</where>
		)
	</select>
	
	
	<!-- 조회수 업데이트 -->
	<update id="hitUp" parameterType="com.project.exhibit.sayeon.Sayeon">
		UPDATE exhibit_sayeon_artcl 
		SET hit = #{hit}
		WHERE artcl_Seq = #{artcl_Seq}
	</update>
   
  <!-- ................................파일 업로드 ................................. -->
   	<insert id="insertAtchmnfl" parameterType="java.util.List"
   			useGeneratedKeys="true" keyProperty="atchmnfl_Seq">
	   		INSERT INTO exhibit_sayeon_atchmnfl 
	   		(artcl_Seq, writer, reg_date, edit_date, doc_Origin_Nm, doc_File_Nm, doc_Path) 
        	VALUES 
        <foreach collection="list" item="item" separator=" , ">
	        (#{item.artcl_Seq}, #{item.writer}, now(), now(), #{item.doc_Origin_Nm}, #{item.doc_File_Nm}, #{item.doc_Path})
        </foreach>
   	</insert>
   
   	<select id="selectAtchmnfl" parameterType="com.project.exhibit.sayeon.Sayeon" resultType="hashmap">
   		SELECT	*
   		FROM	exhibit_sayeon_atchmnfl
   		WHERE	artcl_Seq = #{artcl_Seq}
   	</select>
</mapper>