/* custom */

.ui-datepicker {
    font-size: 1px;
}
 
/* beforeShowDay 함수 호출시 saturday class 생성 */
.ui-datepicker-calendar .saturday a{color:#00f;}
.ui-datepicker-calendar .saturday span{color:#00f;}
 
/* 요일(한글/영문)에 색상 표시 */
.ui-datepicker-week-end:first-child{color:#f00;}
/* beforeShowDay 함수 호출시 saturday class를 return으로 처리 */
.ui-datepicker-week-end:last-child{color:#00f;}
 
/* 요일(숫자)에 색상 표시 */
.ui-datepicker-calendar > tbody td:first-child a {color: #f00;}
/* beforeShow 함수 호출시 saturday class를 addClass로 처리 */
.ui-datepicker-calendar > tbody td:last-child a {color: #00f;}

/* doubleDatepickerStyle */
/*calendar*/
#hiddenDivTwoDate{height:100%;position:absolute;width:200px;z-index:100;background:#fff;visibility:hidden}
#hiddenDivTwoDate #contents{overflow-y:auto;padding:5px;height:190px;}
#hiddenDivTwoDate .pop_button{border-top:1px solid #eaeaea;width:100%;}
#hiddenDivTwoDate .pop_button p{padding:5px 10px 5px 10px;text-align:right;}
 
#pop_cal_wrap{border:1px solid #95999d;padding:0px;width:383px;height:230px;visibility:hidden}
#pop_cal_wrap .pop_cal_button{border-top:1px solid #eaeaea;width:100%;clear:both;}
#pop_cal_wrap .pop_cal_button p{padding:5px 0 5px 0px;text-align:right;}
#pop_cal_wrap #contents{padding-botom:0px}
.cal_wrap{background:#fff;border:1px solid #2b7bff; font-family:Verdana;font-size:8pt;padding:0px;position:relative;width:175px;display:none;margin-bottom:0px;margin-top:2px;}
.cal_wrap .layer_close{background:url(/img/mars/button/btn_layer_close.gif);display:block;width:16px;height:15px;position:absolute;top:7px;right:2px;text-indent:-1000em;}
.cal_date{margin-bottom:0px;text-align:center;background:url(/img/mars/common/caldate_bg.gif) repeat-x;height:27px;border-bottom:1px solid #4b78b3;line-height:22px;}
.cal_date img, .cal_date select{vertical-align:middle;}